# Credenciais de acesso ao Portal Agrisolus
ID_USUARIO=seu_usuario_agrisolus
SENHA=sua_senha_agrisolus
URL_ACESSO=https://s2.agrisolus.com.br/
# Configurações do SQLite Fallback local
SQLITE_PATH=local_fallback.db

# Configurações do Telegram Bot para Notificações
TELEGRAM_BOT_TOKEN=seu_token_de_bot_do_telegram
TELEGRAM_ALLOWED_USER_ID=seu_chat_id_do_telegram
